/*
  Styles from this codepen:
  https://codepen.io/official_naveen/pen/rgknI
*/

body, html {
  margin:0;
  padding:0;
  width: 100%;
  height:100%;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.5s ease-in-out;
  background:#3d3d3a;
  color:#afafaf;
  overflow-y:scroll;
}
.container {
  height:100%;
  display:flex;
  flex-direction:column;
}
form {
  height: calc(100vh - 350px) ;
}
.input {
  flex-grow:1;
}
.output {
  height:350px;
  overflow-y:scroll;
}
.input-panels {
  width: 100%;
  display:flex;
  height:calc(100% - 50px) !important;
  align-content:stretch;
}
.input-panels > div {
  flex:0 0 50%;
  margin:1px;
  height:100%;
}
.CodeMirror {
  height:calc(100% - 50px) !important;
}

.action {
  height:40px;
  background:#1e1e1d;
}
h1 {
  font-size:12px;
  background:#272722;
  color:#afafaf;
  margin:0px;
  padding:15px 10px;
}

.output {
  border:1px solid red;
}
/*
fieldset {
  display: block;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0em;
  -webkit-padding-start: 0em;
  -webkit-padding-end: 0em;
  -webkit-padding-after: 0em;
  border: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  min-width: -webkit-min-content;
  padding: 30px;
}
.ghost-input {
	font-family: Consolas,Liberation Mono,Courier,monospace;
  min-height: 350px;
  min-width: 500px;
  line-height: 21px;
  resize: none;
	overflow: visible;
	transition: all 0.5s ease-in-out;
  display: block;
  font-weight:300;
  width: 100%;
  font-size: 12px;
  border:0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  background: #2E2E2E;
  padding: 10px 15px;
  margin: 0px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}
.ghost-input:focus {
  border-bottom:1px solid #ddd;
}
.ghost-button {
  background-color: #748b8e;
  border:2px solid #748b83;
  padding:10px 30px;
  width: 100%;
  min-width: 350px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.ghost-button:hover {
  border: 2px solid #7e979a;
  background-color: #7e979a;
}
p {
  color: #fff;
}
*/