/*
  Styles from this codepen:
  https://codepen.io/official_naveen/pen/rgknI
*/

body {
  width: auto;
  margin: 0 auto;
	line-height: 21px;
  font-family: 'Open Sans', sans-serif;
	overflow: visible;
	transition: all 0.5s ease-in-out;
  background: #009999
}
.container {
  width: 80%;
  margin: 0 auto;
}
fieldset {
  display: block;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0em;
  -webkit-padding-start: 0em;
  -webkit-padding-end: 0em;
  -webkit-padding-after: 0em;
  border: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  min-width: -webkit-min-content;
  padding: 30px;
}
.ghost-input {
	font-family: Consolas,Liberation Mono,Courier,monospace;
  min-height: 350px;
  min-width: 500px;
  line-height: 21px;
  resize: none;
	overflow: visible;
	transition: all 0.5s ease-in-out;
  display: block;
  font-weight:300;
  width: 100%;
  font-size: 12px;
  border:0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  background: #2E2E2E;
  padding: 10px 15px;
  margin: 0px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}
.ghost-input:focus {
  border-bottom:1px solid #ddd;
}
.ghost-button {
  background-color: #748b8e;
  border:2px solid #748b83;
  padding:10px 30px;
  width: 100%;
  min-width: 350px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.ghost-button:hover {
  border: 2px solid #7e979a;
  background-color: #7e979a;
}
p {
  color: #E64A19;
}
